Ficheros/00-xml-primeros-pasos/tiendavideojuegos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <!-- Elemento raíz -->
   <xs:element name="tiendas">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="tienda" maxOccurs="unbounded" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="nombre" type="xs:string"/>
                     <xs:element name="direccion" maxOccurs="unbounded" minOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="calle" type="xs:string"/>
                              <xs:element name="ciudad" type="xs:string"/>
                              <xs:element name="pais" type="xs:string"/>
                              <xs:element name="codigo_postal" type="xs:string"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
